ol {
  list-style: none;
  color: black;
}

.form-group {
  margin-top: 100px;
}
#flex1 h1 {
 color: #333;
}

#flex2 h2 {
color: #333;
}

// #flex3

#flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background: #333;
  // margin: 0 auto;
  padding: 1px;

}

#flex1 {
  flex: auto;
  min-width: 200px;
  background: red;
  text-align: center;
  font-size: 18pt;
  height: 600px;
}




#flex2 {
  flex: auto;
  min-width: 200px;
  background: #d9d9d9;
  text-align: center;
  font-size: 18pt;
  height: 900px;
}
//
#flex3 {
  flex: auto;
  min-width: 200px;
  background: #d9d9d9;
  text-align: center;
  font-size: 18pt;
  height: 900px;
}
